<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Préstamo</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
rel="stylesheet">

</head>

<body>

<div class="container mt-5">

    <h1 class="mb-4">
        Registrar Préstamo
    </h1>

    <div class="card p-4">

        <h3 id="nombreLibro"></h3>

        <p id="autorLibro"></p>

        <div class="mb-3">

            <label>
                ID Usuario
            </label>

            <input
                type="number"
                id="usuario_id"
                class="form-control">

        </div>

        <div class="mb-3">

            <label>
                Tipo de préstamo
            </label>

            <select
                id="tipoPrestamo"
                class="form-control">

                <option value="basico">
                    Básico
                </option>

                <option value="premium">
                    Premium
                </option>

            </select>

        </div>

<button
    class="btn btn-success"
    onclick="confirmarPrestamo()">

    Confirmar Préstamo

</button>

        <a
            href="Index.html"
            class="btn btn-secondary mt-2">

            Volver

        </a>

    </div>

</div>

<script src="../models/estrategias/prestamoPremium.js"></script>
<script src="../models/estrategias/prestamoBasico.js"></script>
<script src="../models/estrategias/adapterPrestamo.js"></script>
<script src="../Views/funciones.js"></script>

</body>

</html>